<h1 style="background-color: #034732;">Individual user</h1>

<dl>
  <dt>ID</dt>

  <dd>42</dd>

  <dt>Edit user</dt>

  <form>
  </form>

</dl>

<h2 style="color: #008148;">Photos</h2>

<table border="1">
</table>
