<!DOCTYPE html>
<html>
  <head>
    <title>Photogram GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #F2E5D7;
        color: #3D2C2E;
      }
      body a {
        color: #034732;
      }
    </style>
  </head>

  <body>
    <ul>
      <li>
        <a href = "/users">Users</a>
      </li>
      <li>
        <a href = "/photos">Photos</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
